body {
    width: 100%;
    margin: auto;
    background-color: #E6E6E6;
}
.header {
    background-color: #607D8B;
    width: 100%;
    height: 3em;
    box-shadow: 2px 4px 4.75px 0.25px rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
}

.logo > h1 {
    text-align: center;
    width: auto;
    height: auto;
    margin: 0.2em;
    float: right;
    font-family:sans-serif;
}
[type="text"] {
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0px 1px 1.96px 0.04px rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0.2em;
    top:0.7em;
    width: 303px;
    height: 26px; 
}
[type="image"] {   
    position: absolute;
    right: 1em;
    top:1em;
    width: 16px;
    height: 17px;
    z-index: 1;
}

.language {
    position: relative;
    left: 7em;
    width: 2em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0.7em;
}

.container > .logo > img {
    position: fixed;
    top: 0;
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
    width: 7em;
    float:left;
}

.attraktion {
    margin-top: 5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 4.75px 0.25px rgba(0, 0, 0, 0.35);
    width: auto;
    height: auto;
}

h4 {
    color: #212121;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 5px;
    border-top-width: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.attraktion > p {
    padding-left: 10;
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0.5em;
}